summary {
  background-color: lightblue;
}

body[theme=dark] summary {
  background-color: lightslategray;
}

body[theme=dark] #mermaid .flowchart-link {
  stroke: lightgrey;
}

body[theme=dark] #mermaid .marker {
  fill: lightgrey;
  stroke: lightgrey;
}

body[theme=dark] #mermaid .cluster rect {
  fill: darkgrey !important;
  stroke: darkgrey !important;
}

.sidebar-nav>ul>li>a[href^="#/"]:not([href*="?id="]):not(:only-child) {
  background-image: radial-gradient(circle 20px at 8px 18px, var(--theme-color) 5px,transparent 0);
}
.sidebar-nav>ul>li.active>a[href^="#/"]:not([href*="?id="]):not(:only-child) {
  background-image: radial-gradient(circle 20px at 5px 18px, var(--theme-color) 5px,transparent 0)
}

.sidebar-nav>ul>li>a[href^="#/"]:not([href*="?id="]):only-child {
  background-image: radial-gradient(circle 20px at 5px 18px, var(--theme-color) 5px,transparent 0)
}
.sidebar-nav>ul>li.active>a[href^="#/"]:not([href*="?id="]):only-child {
  background-image: radial-gradient(circle 20px at 5px 18px, var(--theme-color) 5px,transparent 0)
}